@font-face {
  font-family: 'lorafont';
  src: url(lorafont/Lora-VariableFont_wght.ttf);
}
.imagewhats {
  position: absolute;
  left: 744px;
  top: 45px;
  cursor: pointer;
}

.imageemail {
  position: absolute;
  left: 743px;
  top: 88px;
  cursor: pointer;
}

.imagehome {
  position: absolute;
  left: 745px;
  top: 130px;
  cursor: pointer;
}

.graybox {
  width:  850px;
  height: 200px;
  border: 0px solid lightgray;
  background-color: rgb(243, 243, 243);
  position: relative;
  left: 20px;
  
}

.blackrec {
  width: 844px;
  height: 0px;
  border: 3px solid rgb(84,84,84) ;
  position: relative;
  top: 103px;

}

.victor_rodriguez {
  display: inline;
  font-size: 40px;
  font-family: 'lorafont';
  color: rgb(84,84,84);
  letter-spacing: 1px;
  
  position: relative;
  left: 70px;
  top: 55px;
}

.blackline {
  width: 360px;
  border: 1.5px solid rgb(84,84,84);

  position: relative;
  left: 68px;
  top: 57px;
}

.vblackline {
  width: 2px;
  height: 694px;
  background-color: rgb(148,148,148);

  position: absolute;
  left: 405px;
  top: 417px;
}

.resumen {
  font-family: 'lorafont';
  color: rgb(84, 84, 84);
  font-size: 22px;
  letter-spacing: 2px;

  position: relative;
  left: 384px;
  top: 15px;

  animation-name: resumen;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.resumenline {
  width: 356px;
  height: 2.5px;
  background-color: rgb(148,148,148);

  position: relative;
  left: 266px;

}

.presumen {
  font-family: 'lorafont';
  color: rgb(84,84,84);
  font-size: 14px;
  text-size-adjust: none;
  text-align: center;
  width: 740px;
  
  position: relative;
  bottom: 2px;
  left: 75px;
}

.educacion {
  font-size: 20px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);
  letter-spacing: 2px;

  position: absolute;
  left: 82px;
  top: 410px;

  animation-name: educacion;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.educacionline {
  width: 150px;
  height: 1.5px;
  background-color: rgb(148,148,148);

  position: absolute;
  left: 80px;
  top: 461px;
}

.UABC {
  font-size: 14.5px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 79px;
  top: 477px;
}

.UABCp {
  font-size: 11.8px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 79px;
  top: 492px;
}

.CDLA {
  font-size: 14.5px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 79px;
  top: 557px;
}

.CDLAp {
  font-size: 11.8px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 79px;
  top: 570px;
}

.habilidades {
  font-size: 18px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);
  letter-spacing: 2px;

  position: absolute;
  left: 82px;
  top: 640px;

  animation-name: habilidades;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.habilidadesline {
  width: 154px;
  height: 1.5px;
  background-color: rgb(148,148,148);

  position: absolute;
  left: 80px;
  top: 687px;
}

.habilidadesp {
  font-size: 13px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 62px;
  top: 700px;
}

.certificaciones {
  font-size: 18px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);
  letter-spacing: 2px;

  position: absolute;
  left: 82px;
  top: 930px;

  animation-name: certificaciones;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.certificacionesline {
  width: 203px;
  height: 1.5px;
  background-color: rgb(148,148,148);

  position: absolute;
  left: 80px;
  top: 976px;
}

.certificacionesp {
  font-size: 13px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 62px;
  top: 988px;
}

.exprofe {
  font-size: 20px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);
  letter-spacing: 2px;

  position: absolute;
  left: 440px;
  top: 410px;

  animation-name: exprofe;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.exprofeline {
  width: 340px;
  height: 1.5px;
  background-color: rgb(148,148,148);

  position: absolute;
  left: 438px;
  top: 461px;
}

.serviciosinfo {
  font-size: 18.4px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 438px;
  top: 484px;
}

.serviciosinfofoot {
  font-size: 14.6px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 438px;
  top: 495px;
}

.serviciosinfop {
  font-size: 14.6px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 424px;
  top: 535px;
}

.serviciosinfo2 {
  font-size: 18.4px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 438px;
  top: 720px;
}

.serviciosinfo2foot {
  font-size: 14.6px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 438px;
  top: 733px;
}

.serviciosinfop2 {
  font-size: 14.6px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 424px;
  top: 770px;
}

.sushi {
  font-size: 13.2px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 438px;
  top: 935px;
}

.suship {
  font-size: 13.2px;
  font-family: 'lorafont';
  color: rgb(84, 84, 84);

  position: absolute;
  left: 424px;
  top: 970px;
}

.grayfont1 {
  font-family: 'lorafont';
  color: rgb(84,84,84);
  font-size: 16px;

  position: relative;
  float: right;
  right: 120px;
  bottom: 15px;

  animation-name: whats;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.grayfont2 {
  font-family: 'lorafont';
  color: rgb(84,84,84);
  font-size: 16px;

  position: relative;
  float: right;
  top: 6px;
  left: 4px;

  animation-name: email;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.grayfont3 {
  font-family: 'lorafont';
  color: rgb(84,84,84);
  font-size: 16px;

  position: relative;
  float: right;
  top: 30px;
  left: 230px;

  animation-name: home;
  animation-duration: 700ms;
  animation-timing-function: linear;
}

.blankspace {
  width: 100%;
  height: 52px;
 
  position: absolute;
  top: 1111px;
}

@keyframes resumen {
  0%   {opacity: 0%; left: 384px; top: 40px;}
  25%  {opacity: 10%; left: 384px; top: 30px;}
  50%  {opacity: 20%; left: 384px; top: 25px;}
  75%  {opacity: 90%; left: 384px; top: 20px;}
  100% {opacity: 100%; left: 384px; top: 15px;}
}

@keyframes educacion {
  0%   {opacity: 0%; left: 82px; top: 435px;}
  25%  {opacity: 10%; left: 82px; top: 425px;}
  50%  {opacity: 20%; left: 82px; top: 420px;}
  75%  {opacity: 90%; left: 82px; top: 415px;}
  100% {opacity: 100%; left: 82px; top: 410px;}
}

@keyframes habilidades {
  0%   {opacity: 0%; left: 82px; top: 665px;}
  25%  {opacity: 10%; left: 82px; top: 655px;}
  50%  {opacity: 20%; left: 82px; top: 650px;}
  75%  {opacity: 90%; left: 82px; top: 645px;}
  100% {opacity: 100%; left: 82px; top: 640px;}
}

@keyframes certificaciones {
  0%   {opacity: 0%; left: 82px; top: 955px;}
  25%  {opacity: 10%; left: 82px; top: 945px;}
  50%  {opacity: 20%; left: 82px; top: 940px;}
  75%  {opacity: 90%; left: 82px; top: 935px;}
  100% {opacity: 100%; left: 82px; top: 930px;}
}

@keyframes exprofe {
  0%   {opacity: 0%; left: 440px; top: 435px;}
  25%  {opacity: 10%; left: 440px; top: 425px;}
  50%  {opacity: 20%; left: 440px; top: 420px;}
  75%  {opacity: 90%; left: 440px; top: 415px;}
  100% {opacity: 100%; left: 440px; top: 410px;}
}

@keyframes whats {
  0%   {opacity: 0%; right: 10px;}
  25%  {opacity: 0%;}
  50%  {opacity: 10%;}
  75%  {opacity: 20%;}
  100% {opacity: 80%;}
}

@keyframes email {
  0%   {opacity: 0%; left: 100px;}
  25%  {opacity: 0%;}
  50%  {opacity: 10%;}
  75%  {opacity: 20%;}
  100% {opacity: 80%;}
}

@keyframes home {
  0%   {opacity: 0%; right: 1000px;}
  25%  {opacity: 0%;}
  50%  {opacity: 10%;}
  75%  {opacity: 20%;}
  100% {opacity: 80%;}
}

